.wrapperAC {
    padding: 1rem 2rem;
}

.comment-submit {
    border: none;
    background-color: var(--textColour);
    color: var(--backgroundColour);
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 100vw;
}

.comment-submit:hover {
    cursor: pointer;
    background-color: var(--hoverColour);
}

@media (max-width: 800px) {
    .wrapperAC {
        padding-inline: 1rem;
    }

    .comment-submit {
        font-size: 0.875rem;
    }

    .searchbar > input {
        font-size: 1rem;
    }
}
