.wrapperDP {
    border-top: 1px solid var(--placeholderTextColour);
    padding: 2rem 3rem;
    display: grid;
    gap: 2rem;
}

.page-location {
    display: flex;
    justify-content: center;
}

.current-page {
    font-weight: bolder;
    color: var(--hoverColour);
}

.total-pages {
    font-weight: bolder;
}

.page-navigation {
    display: flex;
    justify-content: space-between;
}

.previous-page,
.next-page {
    border: none;
    background-color: var(--btnBackgroundColour);
    font-size: 1rem;
    font-weight: bold;
    color: var(--btnTextColour);
    padding: 0.4rem 0.8rem;
    border-radius: 100vw;
}

.previous-page:hover,
.next-page:hover {
    cursor: pointer;
    background-color: var(--hoverColour);
}

@media (max-width: 800px) {
    .wrapperDP {
        padding-inline: 1.25rem;
    }
}
