.wrapperHP {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 50vh;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
