[data-theme="dark"] {
  --backgroundColour: black;
  --btnBackgroundColour: white;
  --textColour: white;
  --btnTextColour: black;
  --placeholderTextColour: #707070;
  --hoverColour: lightblue;
  --postHover: #0f0f10;
  --deleteBtnBack: white;
  --deleteBtnText: red;
  --deleteBtnBackHover: red;
  --deleteBtnTextHover: white;
}

[data-theme="light"] {
  --backgroundColour: white;
  --btnBackgroundColour: black;
  --textColour: black;
  --btnTextColour: white;
  --placeholderTextColour: #322f2f;
  --hoverColour: darkblue;
  --postHover: #d7d7dc;
  --deleteBtnBack: red;
  --deleteBtnText: white;
  --deleteBtnBackHover: lightcoral;
  --deleteBtnTextHover: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 100%;
  overflow-y: scroll;
  background-color: var(--backgroundColour);
}

p {
  margin: 0;
}

.err404 {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--textColour);
}
