.wrapperLayout {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    position: fixed;
}

@media (max-width: 800px) {
    .wrapperLayout {
        grid-template-columns: 1fr;
    }
}