.wrapper {
    background-color: var(--backgroundColour);
    border-right: 1px solid var(--placeholderTextColour);
    padding: 8rem 3rem;

    display: grid;
    align-items: end;
    position: sticky;
}

.links {
    display: grid;
    gap: 5rem;
    padding-inline: 2rem;
}

.link-txt {
    color: var(--textColour);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.link-txt:hover {
    color: var(--hoverColour);
}

.logged-out {
    display: flex;
    justify-content: space-between;
}

.link-log {
    text-decoration: none;
    background-color: var(--btnBackgroundColour);
    color: var(--btnTextColour);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 100vw;
}

.link-log:hover {
    background-color: var(--hoverColour);
}

.logged-in {
    display: grid;
}

.btn-log {
    border: none;
    background-color: var(--btnBackgroundColour);
    color: var(--btnTextColour);
    font-size: 1.5rem;
    font-weight: bold;
    padding-block: 0.5rem;
    border-radius: 100vw;
    text-align: center;
}

.btn-log:hover {
    cursor: pointer;
    background-color: var(--hoverColour);
}

.profile-img {
    height: 2rem;
    aspect-ratio: 1;
}

.mode {
    font-size: 2rem;
    font-weight: bold;
    color: var(--textColour);
    line-height: 1;
}

.toggle-switch {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Hide the checkbox */
.toggle-switch input {
    display: none;
  }
  
  /* Style the slider */
  .toggle-switch .slider {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    background-color: var(--textColour);
    border-radius: 100vw;
    transition: background-color 0.2s;
  }

  .toggle-switch:hover {
    cursor: pointer;
  }
  
  /* Style the slider when the checkbox is checked */
  .toggle-switch input:checked + .slider {
    background-color: var(--textColour);
  }
  
  /* Style the circle inside the slider */
  .toggle-switch .slider::before {
    position: absolute;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--backgroundColour);
    top: 0.1rem;
    left: 0.1rem;
    transition: transform 0.2s;
  }
  
  /* Move the circle inside the slider when the checkbox is checked */
  .toggle-switch input:checked + .slider::before {
    transform: translateX(2rem);
  }
  
@media (max-width: 800px) {
    .wrapper {
        display: none;
    }
}