.profile-preview {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border: 1px solid var(--placeholderTextColour);
    border-radius: 1rem;
    text-decoration: none;
}

.profile-preview:hover {
    background-color: var(--postHover)
}

.profile-pic-search {
    height: 2rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.username-search {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--textColour);
}
