.wrapperRS {
    background-color: var(--backgroundColour);
    color: var(--textColour);
    border-left: 1px solid var(--placeholderTextColour);
    position: sticky;
}
@media (max-width: 800px) {
    .wrapperRS {
        display: none;
    }
}